<!DOCTYPE html>
<html>
    <head>
        <title>Portfolio</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css')  }}">
        <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <div>
                <h1 class="title">Pratham Purohit&nbsp;</h1>
                <svg>
                    <rect x="0px" y="0px" width="2" height="4rem" />
                </svg>
            </div>
        </header>
        <main>

        </main>
    </body>
    <footer>
        
    </footer>
</html>
